.modal-container {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 0;
  z-index: 3;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c4c4c466;
  z-index: 2;
}

.modal {
  z-index: 3;
  width: 669px;
  background-color: #db8876;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  position: relative;
}

.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

.modal-header h1 {
  font-size: 64px;
  font-weight: 400;
  color: #000000;
  flex-wrap: wrap;
}

.modal-header button {
  background-color: transparent;
  height: 64px;
  border: none;
}

.close-modal {
  font-size: 64px;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

form,
.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form label {
  color: #312e2e;
  font-size: 36px;
  font-weight: 400;
}

form input {
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  height: 68px;
  padding: 0 15px;
  color: #000000;
  font-size: 24px;
}

form textarea {
  height: 170px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
  color: #000000;
  font-size: 24px;
}
