.page {
  --background: #ffffff;
  --foreground: #ffffff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  max-width: 1440px;
  width: 100%;
  padding: 42px 100px;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
}

.gallerie {
  padding: 110px 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 83px;
}

.gallerie > :nth-child(3n + 1) {
  justify-self: start;
}

.gallerie > :nth-child(3n + 2) {
  justify-self: center;
}

.gallerie > :nth-child(3n + 3) {
  justify-self: end;
}